/* variables to easaily changes styles */
:root {
  --pink: rgba(203, 115, 143, 1);
  --pink-light: rgba(203,161,175,1);
  --white: #ffffff;
  --white-transparent: #ffffff20;
}

body {
  background: var(--pink-light);
  background: radial-gradient(circle, var(--pink-light) 0%, var(--pink) 100%);
}

/* card container */
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 2rem;
}

/* card */
.recipe-card {
  width: 300px;
  background-color: var(--white-transparent);
  border: 1px solid var(--pink);
  padding-bottom: 1rem;
  text-align: center;
}

/* buttons */
.button {
  display: inline-block;
  background-color: var(--pink);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--white);
  color: var(--pink);
}

.button {
  transition-duration: 0.4s;
}

/* search bar */
.search-bar {
  background-color: var(--white-transparent);
  padding: 0.5rem 3rem;
}

.search-bar input[type=text] {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.search-bar button {
  background: var(--pink);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}